<l-stack>
  <l-stack-block>
    <h1>
      <app-block>
        <app-block>
          Layers
        </app-block>
      </app-block>
    </h1>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-layers>

      <l-layer>
        <l-panel>
          <strong style="color: rgba(255,0,0,0.2);">HARDER</strong>
        </l-panel>
      </l-layer>

      <l-layer>
        <l-panel>
          <strong style="color: rgba(0,128,0,0.2);">BETTER</strong>
        </l-panel>
      </l-layer>

      <l-layer>
        <l-panel>
          <strong style="color: rgba(0,0,255,0.2);">FASTER</strong>
        </l-panel>
      </l-layer>

      <l-layer>
        <l-panel>
          <strong style="color: rgba(0,0,0,0.2);">STRONGER</strong>
        </l-panel>
      </l-layer>

    </l-layers>
  </l-stack-body>
</l-stack>
