<l-stack>
  <l-stack-block>
    <h1>
      <app-block>
        <app-block>
          Stack
        </app-block>
      </app-block>
    </h1>
    <hr>
  </l-stack-block>
  <l-stack-block>
    <h2>
      <app-block>
        <app-block>
          Column
        </app-block>
      </app-block>
    </h2>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-stack direction="column">
      <l-stack-block style="background: #ddd;">
        <app-block>
          <app-block>
            Block #1
          </app-block>
        </app-block>
      </l-stack-block>
      <l-stack-body style="background: #eee;">
        <app-block>
          <app-block>
            Body #1
          </app-block>
        </app-block>
      </l-stack-body>
      <l-stack-block style="background: #ddd;">
        <app-block>
          <app-block>
            Block #2
          </app-block>
        </app-block>
      </l-stack-block>
      <l-stack-body style="background: #eee;">
        <app-block>
          <app-block>
            Body #2
          </app-block>
        </app-block>
      </l-stack-body>
    </l-stack>
  </l-stack-body>
  <l-stack-block>
    <h2>
      <app-block>
        <app-block>
          Row
        </app-block>
      </app-block>
    </h2>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-stack direction="row">
      <l-stack-block style="background: #ddd;">
        <app-block>
          <app-block>
            Block #1
          </app-block>
        </app-block>
      </l-stack-block>
      <l-stack-body style="background: #eee;">
        <app-block>
          <app-block>
            Body #1
          </app-block>
        </app-block>
      </l-stack-body>
      <l-stack-block style="background: #ddd;">
        <app-block>
          <app-block>
            Block #2
          </app-block>
        </app-block>
      </l-stack-block>
      <l-stack-body style="background: #eee;">
        <app-block>
          <app-block>
            Body #2
          </app-block>
        </app-block>
      </l-stack-body>
    </l-stack>
  </l-stack-body>
</l-stack>
