<l-stack>
  <l-stack-block>
    <h1>
      <app-block>
        <app-block>
          Media
        </app-block>
      </app-block>
    </h1>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>

      <div class="clickable">
        <app-block>
          <l-media>
            <l-media-action>
              <app-block>
                <input type="checkbox" title="Item">
              </app-block>
            </l-media-action>
            <l-media-action>
              <app-block>
                <i class="far fa-star"></i>
              </app-block>
            </l-media-action>
            <l-media-details>
              <app-block>
                <app-text-line>Alex Chugaev</app-text-line>
              </app-block>
            </l-media-details>
            <l-media-action>
              <app-block>
                <i class="fa fa-angle-right"></i>
              </app-block>
            </l-media-action>
          </l-media>
        </app-block>
      </div>

      <div class="clickable">
        <app-block>
          <l-media>
            <l-media-action>
              <app-block>
                <input type="checkbox" title="Item">
              </app-block>
            </l-media-action>
            <l-media-action>
              <app-block>
                <i class="far fa-star"></i>
              </app-block>
            </l-media-action>
            <l-media-details>
              <app-block>
                <app-text-line>Dmitri Kolodko</app-text-line>
              </app-block>
            </l-media-details>
            <l-media-action>
              <app-block>
                <i class="fa fa-angle-right"></i>
              </app-block>
            </l-media-action>
          </l-media>
        </app-block>
      </div>

      <div class="clickable">
        <app-block>
          <l-media>
            <l-media-action>
              <app-block>
                <input type="checkbox" title="Item">
              </app-block>
            </l-media-action>
            <l-media-action>
              <app-block>
                <i class="far fa-star"></i>
              </app-block>
            </l-media-action>
            <l-media-details>
              <app-block>
                <app-text-line>Rustam Kodirov</app-text-line>
              </app-block>
            </l-media-details>
            <l-media-action>
              <app-block>
                <i class="fa fa-angle-right"></i>
              </app-block>
            </l-media-action>
          </l-media>
        </app-block>
      </div>

      <div class="clickable">
        <app-block>
          <l-media>
            <l-media-action>
              <app-block>
                <input type="checkbox" title="Item">
              </app-block>
            </l-media-action>
            <l-media-action>
              <app-block>
                <i class="far fa-star"></i>
              </app-block>
            </l-media-action>
            <l-media-details>
              <app-block>
                <app-text-line>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aspernatur aut culpa debitis, dicta excepturi inventore itaque nisi nostrum officiis sunt. Aperiam ducimus error maiores perspiciatis quisquam quod voluptas? Assumenda, blanditiis consequatur dicta doloribus et ipsam, laborum molestiae mollitia neque, nisi nobis quaerat qui sequi. Ad alias architecto ducimus eligendi eum illum ipsa itaque, iusto maiores modi mollitia nostrum, numquam officia pariatur possimus qui quis ratione repellat suscipit ut vel voluptas voluptatem. Ad animi cum dolorem excepturi explicabo iusto mollitia nostrum numquam odio perferendis, quisquam repellendus sed vero! Aliquam blanditiis delectus distinctio in inventore, nobis placeat quo soluta totam.
                </app-text-line>
              </app-block>
            </l-media-details>
            <l-media-action>
              <app-block>
                <i class="fa fa-angle-right"></i>
              </app-block>
            </l-media-action>
          </l-media>
        </app-block>
      </div>

    </l-viewport>
  </l-stack-body>
</l-stack>
