<l-stack>
  <l-stack-block>
    <h1>
      <app-block>
        <app-block>
          Panel
        </app-block>
      </app-block>
    </h1>
    <hr>
  </l-stack-block>
  <l-stack-block>
    <form>
      <app-block>
        <l-stack direction="row">
          <l-stack-block>
            <app-block>
              X:
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="x" value="left" [checked]="x === 'left'" (change)="setX('left')">
                left
              </label>
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="x" value="center" [checked]="x === 'center'" (change)="setX('center')">
                center
              </label>
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="x" value="right" [checked]="x === 'right'" (change)="setX('right')">
                right
              </label>
            </app-block>
          </l-stack-block>
        </l-stack>
      </app-block>
      <app-block>
        <l-stack direction="row">
          <l-stack-block>
            <app-block>
              Y:
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="y" [checked]="y === 'top'" (change)="setY('top')">
                top
              </label>
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="y" [checked]="y === 'center'" (change)="setY('center')">
                center
              </label>
            </app-block>
          </l-stack-block>
          <l-stack-block>
            <app-block>
              <label>
                <input type="radio" name="y" [checked]="y === 'bottom'" (change)="setY('bottom')">
                bottom
              </label>
            </app-block>
          </l-stack-block>
        </l-stack>
      </app-block>
    </form>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>

      <l-panel [x]="x" [y]="y">
        <app-block>
          <img src="favicon.ico" alt="logo" width="16" height="16" />
        </app-block>
      </l-panel>

    </l-viewport>
  </l-stack-body>
</l-stack>
