<l-stack>
  <l-stack-block>
    <app-block>
      <app-block>
        <h1>Viewport layout <i class="fa fa-angle-right"></i> Content viewport</h1>
      </app-block>
    </app-block>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>

      <ul>
        <li class="clickable" *ngFor="let i of [].constructor(100); index as $index">
          <app-block>
            <app-block>
              Item #{{$index + 1}}
            </app-block>
          </app-block>
        </li>
      </ul>

    </l-viewport>
  </l-stack-body>
</l-stack>
