<header>
  <l-stack direction="row">
    <l-stack-block>
      <a class="clickable logo" routerLink="/">
        <app-block>
          <l-media>
            <l-media-content>
              <app-block>
                <img src="favicon.ico" alt="icon" width="16" height="16"/>
              </app-block>
            </l-media-content>
            <l-media-details>
              <app-block>
                <strong>Layouts</strong>
              </app-block>
            </l-media-details>
          </l-media>
        </app-block>
      </a>
    </l-stack-block>
    <l-stack-body>
      <!-- empty -->
    </l-stack-body>
    <l-stack-block>
      <l-panel>
        <nav>
          <l-stack direction="row">
            <l-stack-block>
              <a class="clickable" href="https://github.com/ngry-org/layouts" target="_blank">
                <app-block>
                  <app-block>
                    <i class="fab fa-github"></i>
                    GitHub
                  </app-block>
                </app-block>
              </a>
            </l-stack-block>
          </l-stack>
        </nav>
      </l-panel>
    </l-stack-block>
  </l-stack>
</header>
<hr>
