<l-stack>
  <l-stack-block>
    <app-block>
      <app-block>
        <h1>
          Stage layout <i class="fa fa-angle-right"></i> Absolutely positioned children
        </h1>
      </app-block>
    </app-block>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-stage>
      <img src="favicon.ico" alt="logo" width="16" height="16" style="position: absolute; top: 32px; left: 32px;"/>
      <img src="favicon.ico" alt="logo" width="16" height="16" style="position: absolute; top: 64px; left: 64px;"/>
      <img src="favicon.ico" alt="logo" width="16" height="16" style="position: absolute; top: 32px; left: 96px;"/>
      <img src="favicon.ico" alt="logo" width="16" height="16" style="position: absolute; top: 64px; left: 128px;"/>
    </l-stage>
  </l-stack-body>
</l-stack>
