<l-stack>
  <l-stack-block>
    <h1>
      <app-block>
        <app-block>
          Viewport
        </app-block>
      </app-block>
    </h1>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>

      <div class="clickable" *ngFor="let i of [].constructor(100); index as $index">
        <app-block>
          <l-media>
            <l-media-action>
              <app-block>
                <label>
                  <input type="checkbox" title="Item"/>
                </label>
              </app-block>
            </l-media-action>
            <l-media-action>
              <app-block>
                <i class="far fa-star"></i>
              </app-block>
            </l-media-action>
            <l-media-details>
              <app-block>
                <app-text-line>Item #{{$index + 1}}</app-text-line>
              </app-block>
            </l-media-details>
            <l-media-action>
              <app-block>
                <i class="fa fa-angle-right"></i>
              </app-block>
            </l-media-action>
          </l-media>
        </app-block>
      </div>

    </l-viewport>
  </l-stack-body>
</l-stack>
