<l-stack direction="row">
  <l-stack-block>
    <aside>
      <l-viewport>
        <nav>
          <app-block>
            <app-block>
              <h1>LAYERS LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="layers" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Background image with overlay
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>MEDIA LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="media" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Contacts list
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>PANEL LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="panel" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Interactive example
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>STACK LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="stack" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Interactive example
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>STAGE LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="stage" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Absolutely positioned children
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>TILES LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="tiles" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Inline cards with consistent height
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
          <app-block>
            <app-block>
              <h1>VIEWPORT LAYOUT</h1>
            </app-block>
          </app-block>
          <a routerLink="viewport" routerLinkActive="active" class="clickable">
            <app-block>
              <l-media>
                <l-media-details>
                  <app-block>
                    Content viewport
                  </app-block>
                </l-media-details>
                <l-media-action>
                  <app-block>
                    <i class="fa fa-angle-right"></i>
                  </app-block>
                </l-media-action>
              </l-media>
            </app-block>
          </a>
        </nav>
      </l-viewport>
    </aside>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>
      <router-outlet></router-outlet>
    </l-viewport>
  </l-stack-body>
</l-stack>
