<l-stack>
  <l-stack-block>
    <app-block>
      <app-block>
        <h1>
          Tiles layout <i class="fa fa-angle-right"></i> Inline cards with consistent height
        </h1>
      </app-block>
    </app-block>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-viewport>
      <app-block>
        <l-tiles>
          <l-tile>
            <app-block>
              <app-block>
                <l-stack>
                  <l-stack-body>
                    <app-block>
                      <img src="assets/images/ny.jpg" alt="NY"/>
                    </app-block>
                  </l-stack-body>
                  <l-stack-block>
                    <app-block>
                      <button>action</button>
                    </app-block>
                  </l-stack-block>
                </l-stack>
              </app-block>
            </app-block>
          </l-tile>

          <l-tile>
            <app-block>
              <app-block>
                <l-stack>
                  <l-stack-body>
                    <app-block>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolorem ex harum illum ipsa ipsum
                      laudantium omnis quod ullam voluptatibus. Cum ex impedit inventore iure molestiae odio suscipit.
                      Aliquid
                      asperiores autem, corporis dicta, dolores dolorum enim iusto labore laboriosam magni molestiae
                      necessitatibus numquam officiis pariatur provident ratione reiciendis rem sapiente similique sint
                      tempore
                      tenetur ullam vero. Aperiam aspernatur atque beatae cum laborum modi natus officiis, quae,
                      quibusdam
                      ratione similique tenetur unde voluptate? A asperiores aspernatur at autem cum dolor impedit modi,
                      nihil
                      perferendis praesentium repudiandae soluta, unde, vero! Blanditiis doloremque expedita quas?
                      Aliquid
                      facere necessitatibus nihil nobis quam quasi rerum.
                    </app-block>
                  </l-stack-body>
                  <l-stack-block>
                    <app-block>
                      <button>action</button>
                    </app-block>
                  </l-stack-block>
                </l-stack>
              </app-block>
            </app-block>
          </l-tile>

          <l-tile>
            <app-block>
              <app-block>
                <l-stack>
                  <l-stack-body>
                    <app-block>
                      <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Aspernatur fugiat iure necessitatibus voluptate.</li>
                        <li>Alias impedit itaque quaerat repudiandae!</li>
                        <li>Assumenda nemo quo recusandae voluptatibus!</li>
                        <li>Aut culpa eaque expedita pariatur.</li>
                      </ul>
                    </app-block>
                  </l-stack-body>
                  <l-stack-block>
                    <app-block>
                      <button>action</button>
                    </app-block>
                  </l-stack-block>
                </l-stack>
              </app-block>
            </app-block>
          </l-tile>

          <l-tile>
            <app-block>
              <app-block>
                <l-stack>
                  <l-stack-body>
                    <app-block>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolorem ex harum illum ipsa ipsum
                      laudantium omnis quod ullam voluptatibus. Cum ex impedit inventore iure molestiae odio suscipit.
                      Aliquid
                      asperiores autem, corporis dicta, dolores dolorum enim iusto labore laboriosam magni molestiae
                      necessitatibus numquam officiis pariatur provident ratione reiciendis rem sapiente similique sint
                      tempore
                      tenetur ullam vero. Aperiam aspernatur atque beatae cum laborum modi natus officiis, quae,
                      quibusdam
                      ratione similique tenetur unde voluptate? A asperiores aspernatur at autem cum dolor impedit modi,
                      nihil
                      perferendis praesentium repudiandae soluta, unde, vero! Blanditiis doloremque expedita quas?
                      Aliquid
                      facere necessitatibus nihil nobis quam quasi rerum.
                    </app-block>
                  </l-stack-body>
                  <l-stack-block>
                    <app-block>
                      <button>action</button>
                    </app-block>
                  </l-stack-block>
                </l-stack>
              </app-block>
            </app-block>
          </l-tile>

          <l-tile>
            <app-block>
              <app-block>
                <l-stack>
                  <l-stack-body>
                    <app-block>
                      <img src="assets/images/ny.jpg" alt="NY"/>
                    </app-block>
                  </l-stack-body>
                  <l-stack-block>
                    <app-block>
                      <button>action</button>
                    </app-block>
                  </l-stack-block>
                </l-stack>
              </app-block>
            </app-block>
          </l-tile>

        </l-tiles>
      </app-block>
    </l-viewport>
  </l-stack-body>
</l-stack>
