:host {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}

l-tile app-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}


l-tile > app-block > app-block {
  width: 300px;
  background: #eee;
  border-radius: 3px;
}

l-tile app-block img {
  width: 100%;
  height: auto;
}

