:host {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}

l-tile app-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}


l-tile > app-block > app-block {
  width: 300px;
  border: #ededed solid 1px;
  box-shadow: rgba(0,0,0,0.05) 0 1px 3px;
}

l-tile app-block img {
  width: 100%;
  height: auto;
}

