<l-stack>
  <l-stack-block>
    <app-block>
      <app-block>
        <h1>
          Layers layout <i class="fa fa-angle-right"></i> Background image with overlay
        </h1>
      </app-block>
    </app-block>
    <hr>
  </l-stack-block>
  <l-stack-body>
    <l-layers>

      <l-layer style="background: center center / cover url('assets/images/ny.jpg');">
      </l-layer>

      <l-layer style="background: rgba(0,0,0,0.2)"></l-layer>

      <l-layer>
        <l-panel>
          <strong style="color: rgba(255,255,255,0.8);">NEW YORK</strong>
        </l-panel>
      </l-layer>

    </l-layers>
  </l-stack-body>
</l-stack>
